.contact {
  padding: 60px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 5px rgb(211, 211, 211);
    margin: 3px 7px 5px 7px;
    border-radius: 10px;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact p {
  color: #555;
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-info {
  text-align: left;
}

.contact-info p {
  margin: 15px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 300px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 280px;
  transition: 0.2s ease-in-out;
}
.contact-form textarea:focus{
  width: 290px;
}
.contact-form input:focus{
  width: 290px;
}

.contact-form button{
    text-decoration: none;
    color: black;
    padding: 7px 14px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;z-index: 1;
    background-color: #bcd6e0;
    font-weight: bold;
    font-size: 0.9rem;
    transition: color 0.5s ease-out;
    border: none;
    width: 200px;
}
.contact-form button::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0057b3a9;
    height: 100%;
    width: 0%;
    z-index: -1;
    border-radius: 30px;
    transition: width 0.4s ease-in-out;
}
.contact-form button:hover::after{
    width: 100%;
}
.contact-form button:hover{
    color: white;
}