*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #f9f9f9;
    --text-color : rgb(24, 24, 24);
    --bg-nav: #f9f9f9bd;
    --blue-uniq: #0089b3a6;

}

body{
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    gap: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background: var(--bg-color);
    box-shadow: 1px 0px 5px rgb(201, 201, 201);
    margin: 3px 2px 2px;
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    width: 98.5%;
}
header .menu-toggle{
    font-size: 28px;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
    color: var(--blue-uniq)
}
header .menu-toggle.ss{
    rotate: 180deg;
    scale: 1.1;
}
header .logo{
    font-weight: bold;
    font-size: large;
}
header .logo .ja{
    color: var(--bg-color);
    background:var(--text-color);
    padding: 2px;
    margin-top: 3px;
    border-radius: 4px;
    
}
header .logo .mal{
    padding-right: 25px;
    border: 2px solid var(--text-color);
    border-radius: 3px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    margin-left: -3px;
}
header nav{
    display: flex;

}
header nav a{
    text-decoration: none;
    color: var(--text-color);
    font-family: sans-serif;
    font-weight: bold;
    font-size:0.9rem;
    width: 90px;
    text-align: center;
    padding: 3px 0px;
    position: relative;
}
header nav a::after{
    content: "";
    height: 2px;
    width: 0;
    opacity: 0;
    position: absolute;
    background-color: var(--text-color);
    bottom: -4px;
    left: 50%;
    transition: 0.5s;
    transform: translateX(-50%); 
}
header nav a:hover::after{
    width: 100%;
    opacity: 1;
}

@media (max-width: 768px){
    header{
        padding: 8px 15px;
    }
    header nav{
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        height: 60vh;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 20px;
        transform: translateX(100%);
        transition: 0.3s ease;
        gap: 20px;
        background-color: var(--bg-nav);
        backdrop-filter: blur(2px);
        border-radius: 10px;
       
    }
    header nav.active{
        transform: translateX(0);
    }
    header .menu-toggle{
        display: block;
    }
}

main{
    margin-top: 60px;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.s0{
    transition: 0.5s;
    box-shadow: 1px 1px 5px rgb(211, 211, 211);
    margin: 3px 7px 5px 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.s0 .img img{
    height: 90vh;
    /*mix-blend-mode:color-burn;*/
    filter: drop-shadow(0 0 0.009px var(--text-color));
}

.s0 .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 11%;
    font-size: 3.7rem;
    padding-left: 20px;
}
.s0 .text span{
    font-size: 2rem;
}
.s0 .text span em{
    font-weight: bold;
    color: var(--blue-uniq);
    font-style: normal;
}
.s0 .text div{
    margin-top: -8px;
}
.s0 .text div a{
    text-decoration: none;
    color: black;
    padding: 7px 14px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;z-index: 1;
    background-color: #bcd6e0;
    font-weight: bold;
    font-size: 0.9rem;
    transition: color 0.5s ease-out;
}
.s0 .text div a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color:var(--blue-uniq);
    height: 100%;
    width: 0%;
    z-index: -1;
    border-radius: 30px;
    transition: width 0.5s ease-in-out;
}
.s0 .text div a:hover:after{
    width: 100%;
}
.s0 .text div a:hover{
    color: white;
}
footer{
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(211, 211, 211);
    margin: 5px 7px 5px 7px;
    border-radius: 10px;
    width: 98%;
    background-color: rgba(0, 0, 0, 0.055);
    color: rgb(0, 0, 0);
}

