.s6 {
  padding: 60px;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgb(211, 211, 211);
  margin: 3px 7px 5px 7px;
  border-radius: 10px;
}

.s6 h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.s6 p {
  color: #555;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.service-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.service-card img {
  width: 60px;
  margin-bottom: 15px;
}
.service-card h3{
    margin-bottom: 5px;
}
.service-card p{
    margin-top: 5px;
}