 body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding:0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
        background-color: black;
        color: white;
        align-items: center;
        position: relative;
    }
    .out{
        position: absolute;
        left: calc(50% - 1.25rem);
        top: 91%;
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: bolder;
        color: blueviolet;
        background:rgb(24, 24, 24);
        padding: 0 5px;
        border-radius: 5px;
    }
    .out:hover{
        background-color: rgb(39, 39, 39);
    }
    header{
        text-align: center;
        background-color: rgb(24, 24, 24);
        padding: 10px;
        color: white;
        border-radius: 10px;
        min-width: 80%;
    }
    menu{
        padding: 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    menu a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 20px 0;
        width: 200px;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
        position: relative;
        overflow: hidden;
        display: inline-block;z-index: 1;
        background-color: rgb(24, 24, 24);
        font-weight: bold;
        font-size: 1rem;
        transition: color 0.5s ease-out;
        
    }
    menu a::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: blueviolet;
        height: 100%;
        width: 0%;
        z-index: -1;
        border-radius: 10px;
        transition: width 0.5s ease-in-out;
    }
    menu a:hover::after{
        width: 100%;
    }
    menu a:hover{
        color: white;
    }
    .content{
        padding: 20px;
        text-align: center;
    }
    .content span{
        color: blueviolet;
    }