    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;
        background-color: #f9f9f9;
        font-family: sans-serif;
        gap: 10px;
    }
    h1{
        color: #000000;
        text-align: center;

    }
    form fieldset{
        border: 2px solid;
        border-radius: 10px;
        background: white;
        border: 1px solid #ddd;
    }
    legend{
        font-size: 1.1rem;
        padding: 7px;
        font-weight: bold;
        color: #00356d;
    }
    input{
        min-width: 200px;
        margin: 15px 20px;
        border: 1px solid #ddd;
        font-size: 1.1rem;
        padding: 3px 7px;
        outline: 2px solid rgba(255, 0, 0, 0);
        border-radius: 5px;
        transition: 0.3s;
    }
    input::placeholder{
        font-size: 0.9rem;
        text-transform: capitalize;
    }
    input:focus{
        transform: translateY(-3px);
        outline: 2px solid blue;
    }
    div{
        text-align: center;
        margin: 15px 0 5px 0;
    }
    button{
    color: black;
    padding: 3px 25px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;z-index: 1;
    background-color: #e4e4e4;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.5s ease-out;
    border: none;
}
button::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0057b3a9;
    height: 100%;
    width: 0%;
    z-index: -1;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}
button:hover:after{
    width: 100%;
}
button:hover{
    color: white;
}
button:active{
    scale: 1.02;
}
span{
    margin-top: 20px;
}